.env
env/
__pycache__/
.local/
dist/
.pytest_cache
.ipython
airflow/logs/*
!airflow/logs/.gitkeep
.ipython/
.jupyter/
.local/
airflow.cfg
*.log
webserver_config.py
airflow.db
build/
*.egg-info
airflow-webserver.pid